:root {
  --violet: #7c4dff;
}

body {
  height: 100vh;
}

nav {
  position: fixed!important;
  width: 100%;
}

* {
  font-family: "Inter", sans-serif;
  color: black;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  letter-spacing: 0.4px;
  line-height: 2rem;
}

a {
  text-decoration: none !important;
  color: black !important;
}

.nav-item {
  margin-right: 2rem !important;
}

.nav-item .nav-link {
  color: black !important;
  font-size: 1.1rem;
}

.title {
  font-family: "Plus Jakarta Sans", sans-serif;
  font-weight: 700;
  font-size: 3rem;
}

.violet--text {
  color: var(--violet);
}

.social-icon {
  font-size: 1.2rem;
}

.profile-div {
  position: relative;
  height: 20rem;
  width: 20rem;
  left: 0;
  right: 0;
  margin: auto;
}

.img-profile {
  height: 20rem;
  border-radius: 16px;
  position: absolute;
}

#bg-profile {
  background-color: var(--violet);
  height: 20rem;
  width: 20rem;
  transform: rotate(-10deg);
}

.schedule-card {
  border-radius: 16px;
  padding: 1rem;
  margin: 0!important;
  background-color: var(--violet);
  color: white;
  height: 20rem;
}

.title-schedule {
  color: var(--violet);
}

.text-violet {
  color: var(--violet);
}

.title-card {
  background-color: white;
  border: 1px solid var(--violet);
}

.schedule-title {
  font-weight: 900;
  font-size: 3rem;
}

ol li {
  color: white;
  font-size: 1.1rem;
}

.schedule-day-decoration {
  color: rgba(255, 255, 255, 0.514);
  position: absolute;
  writing-mode: vertical-lr;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 0.5;
  z-index: 1;
  font-weight: 900;
  font-size: 6rem;
}